@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Courier, monospace;
}

.navbar {
  background: #54bab9;
}

.navItem {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.nav-link:hover {
  color: #e9dac1;
}

.main-logo {
  height: 70px;
}

.btn-contact {
  background: #e9dac1;
  font-size: 18px;
  color: #54bab9;
  font-weight: bold;
}

.btn-contact:hover {
  background-color: #54bab9;
  color: #e9dac1;
}

.main-title {
  font-size: 40px;
}

.color-word {
  color: #e9dac1;
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
}

.btn-cita {
  background: #54bab9;
  color: #f7ecde;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 50px;
  border-radius: 15px;
}

.btn-cita:hover {
  background: #54bab9;
  color: #fff;
}

.container-division {
  background: #e9dac1;
  height: auto;
}

.service-section-title {
  font-weight: bold;
  font-size: 34px;
}

.card-style {
  border-radius: 15px;
}

.service-card {
  background: #f7ecde;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 15px 0 0 0 0px;
}

.service-title {
  font-size: 22px;
  font-weight: bold;
}

.service-text {
  color: #54bab9;
}

.why-section {
  background: #fbf8f1;
}

.why-main-title {
  font-size: 34px;
  color: #54bab9;
  font-weight: bold;
}

.why-title {
  font-weight: bold;
  font-size: 22px;
}

.why-description {
  font-size: 20px;
}

.card {
  background: #fbf8f1;
  border: none;
}

.sctCustomers {
  background: #54bab9;
}

.csTitleSection {
  color: #fff;
  font-size: 34px;
  font-weight: bold;
}

.txtTestimony {
  color: #fff;
}

.txtCustomer {
  color: #cccccc;
}

.btnDate {
  color: #fbf8f1;
  background: #54bab9;
  border: none;
}

.btnDate:hover {
  color: #54bab9;
  background: #fbf8f1;
  font-weight: bold;
  border: 1px solid #54bab9;
}

.wrapCTA {
  background: #e9dac1;
}

.titleCTA {
  font-size: 34px;
  font-weight: bold;
  color: #54bab9;
}

.txtCTA {
  font-size: 34px;
  font-weight: bold;
  color: #fff;
}

.btnCTA {
  color: #f7ecde;
  background: #54bab9;
  border: none;
}

.btnCTA:hover {
  background: #f7ecde;
  color: #54bab9;
  border: 1px solid #54bab9;
  font-weight: bold;
}

.footer {
  background: #404242;
  color: #fff;
}

.btnNewsLetter {
  color: #54bab9;
  background: #f7ecde;
  border: none;
}

.btnNewsLetter:hover {
  color: #f7ecde;
  background: #54bab9;
  font-weight: bold;
}

.btnNewsLetter:hover:active {
  color: #f7ecde;
  background: #54bab9;
  font-weight: bold;
}
