@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "_navbar";
@import "_hero";
@import "_servicesBanner";
@import "_cards";
@import "_cta";

body {
  background: #fefded;
  font-family: "Space Mono", Courier, monospace;
}

h1 {
  font-size: 32px;
}
